<div class='col-md-4 offset-4 mt-5'>

    <h1 style="margin-left: -200px; padding-bottom: 40px; padding-top: 40px;">First login! Set new password</h1>

    <form #myform="ngForm" enctype="application/x-www-form-urlencoded" (ngSubmit)="set_password(myform)">

        <div class="form-group">

            <input class="formNew" name="password" placeholder="New Password" required [(ngModel)]="password" type="password">
            <br>
            <input class="formNew" name="repassword" placeholder="Repeat new password" required [(ngModel)]="repassword" type="password">
            <br>
            <div style="width: 100%; display: flex; justify-content: right;">
                <input *ngIf="!loading" class='submitBut' type="submit" name="Set" value="Set">
                <div *ngIf="loading" class="spinner"></div>
            </div>
        </div>
    </form>

</div>