.newtable {
  border: 1px solid rgb(146, 144, 144);
  padding: 40px;
  width: 100%;
}

datalist option[value^=""] {
  display: none;
}

/* Show only the text content (firstName and lastName) */
datalist option {
  display: block;
  padding: 3px;
}

.newtable th {
  text-align: center;
  border: 1px solid rgba(102, 102, 102, 0.4);
  background-color: white;
  color: rgb(102, 102, 102);
  padding: 10px;
  font-weight: normal;
}

.spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.submitBut {
  background-color: #04AA6D;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
}

.formNew {
  background-color: #e9e9e9;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}